.hero {
    display: flex;
    background-color: blue;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.heroinner {
    background-color: red;
    width: 58%;
    max-width: 1200px;
}

